@model List<GarmentSizeViewModel>;
@{
    ViewBag.Title= "Chose size";
}
<h1 class="text-black">@ViewBag.Title</h1>

<div class="card">
    <div class="card-body">
        <!-- Other card content -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
            <label class="form-check-label" for="exampleCheckbox">
                Example Checkbox
            </label>
        </div>
        <!-- Other card content -->
    </div>
</div>

