@model AllGarmentViewModel;
@{
    ViewBag.Title = $"Our {Model.Season} collection";
}
<div>@ViewBag.Title</div>
<div class="hr-divider">
    <h3 class="hr-divider-content hr-divider-heading">
        Divider heading
    </h3>
</div>
