@model GarmentSizeViewModel;
@{
    ViewBag.Title = "Pick Size!";

}
<h1 class="text-black text-center">@ViewBag.Title</h1>

<form asp-action="AddToCart">
    <input type="hidden" asp-for="GarmentId" />
    <div>
        <label asp-for="Size.Id">Select Size:</label>
        <select asp-for="@Model.SizeId" asp-items="@(new SelectList(Model.Sizes, "Id", "Name"))"></select>
    </div>
    <button type="submit">Add to Cart</button>
</form>