
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <h1>SPORTSWEAR</h1>
    <div class="ImageContainter">
        <img src="https://i.pinimg.com/564x/c9/29/a7/c929a7e03a5f46911dbbbb65bd48be4b.jpg" alt="Large Image" class=".largeImg">
        <img src="https://i.pinimg.com/564x/bb/99/be/bb99be0d27390a3e3aed1c80d89cacc3.jpg">
    </div>
</body>
</html>
