@{
    ViewData["Title"] = "New Collection";
}
<h1 strong><mark>@ViewBag.Title</mark></h1>

<div class="list-group">
    <a href="#" class="list-group-item">First item</a>
    <a href="#" class="list-group-item">Second item</a>
    <a href="#" class="list-group-item">Third item</a>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="alert alert-info">
        <strong>Info!</strong> You are authenticated with this email @User.Identity.Name
    </div>
}