@model AccessoryDetailsViewModel

<div>
    <h2 class="text-center">@Model.Name</h2>
    <h3 class="text-center">@Model.Price</h3>
    <h3 class="text-center">@Model.BrandName</h3>
 
    
    
</div>
<div>
    <img src="@Model.ImageUrl" />
</div>