<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LSport</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineShop.styles.css" asp-append-version="true" />
    <!-- Syncfusion ASP.NET MVC controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/24.2.3/fluent.css" />
    <!-- Syncfusion ASP.NET MVC controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/24.2.3/dist/ej2.min.js"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <style>
                        .img {
                            width: 100%;
                            height: auto;
                            opacity: 0.3;
                        }
                    </style>
                    <img src="~/images/favicon-32x32.png" width="48px" height="43px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Privacy">For Us</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {

                            <li class="nav-item mx-2">
                                <a class="nav-link btn btn-sm custom-button-color text-black" asp-area="" asp-controller="Garment" asp-action="Add">Add Garment</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item mx-2">
                                <a class="nav-link btn btn-sm custom-button-color text-primary" asp-area="" asp-controller="Garment" asp-action="All"data="1">All Garments</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link btn btn-sm custom-button-color text-primary" asp-area="" asp-controller="Shoe" asp-action="All">All Shoes</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link btn btn-sm custom-button-color text-primary" asp-area="" asp-controller="Accessories" asp-action="All">All Accessories</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link btn btn-sm custom-button-color text-primary" asp-area="" asp-controller="Brand" asp-action="All">All Brands</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link btn btn-sm custom-button-color text-primary  " asp-area="" asp-controller="Cart" asp-action="MyShoppingCart">My Shoping Cart<span class="badge">6</span></a>
                            </li>


                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        @Html.Partial("_ShowSearchFormPartial", "mitko")
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">For Us</a>
        </div>

    </footer>
        <content>

            @if (User.Identity.IsAuthenticated)
            {
                <div style="width:fit-content;margin-right:initial" class="alert alert-info">
                    <strong>Info!</strong> You are authenticated with this email @User.Identity.Name
                </div>

            }
        </content>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
