@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    

    @if (SignInManager.IsSignedIn(User))
    {

       
        <li2 class="nav-item">
            <style>


                li2 {
                    position: absolute;
                    top:4em;
                    right:8px;
                    font-size: 10px;
                }
            </style>
            <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name</a>
        </li2>


        <li1 class="nav-item">
            <style>


                li1 {
                    position: absolute;
                    top: 8px;
                    right: 16px;
                    font-size: 16px;
                }
            </style>
            <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-primary">Logout</button>
            </form>
        </li1>
    }
    else
    {
        <li1 class="nav-item">
            <style>


                
                li1 {
                    position: absolute;
                    top: 8px;
                    right: 16px;
                    font-size: 16px;
                }
            </style>
            <a class="nav-link text-primary" asp-controller="Account" asp-action="RegisterUser">Register</a>
        </li1>
        <li2 class="nav-item">

            <style>



                li2 {
                    position: absolute;
                    top: 4em;
                    right: 8px;
                    font-size: 10px;
                }
            </style>

            
            <a class="nav-link text-primary" asp-controller="Account" asp-action="Login">Login</a>
        </li2>
    }
</ul>
