


<nav style="border:#666633" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 text-black">
    <div class="container-fluid">
        <style>
            img {
                position: static;
                right: 4em;
            }

            form {
                position: static;
            }
        </style>

        <form asp-controller="AllClothes" asp-action="ShowSearchedItems">
            <div class="row">
                <div class="col-md-8">
                    <input name="term" class="form-control" placeholder="Search by name" />
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-info">Search</button>
                </div>
            </div>
        </form>
        @if (User.IsInRole("Admin"))
        {

            @Html.Partial("_AdminMenuPartial")
        }

    </div>
