@model string
@{
}


<nav style="border:#666633" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 text-black">
    <div class="container-fluid">
        <style>
            img {
                position: static;
                right: 4em;
            }

            form {
                position: static;
            }
        </style>

        <form method="post" class="form-horizontal" asp-controller="AllClothes" asp-action="SearchAllByName">
            <input type="text" class="form-control" id="search-popup-submit" value="Search by product name">

            <input type="submit"><img src="~/images/search-icon.png">
        </form>
        @if (User.IsInRole("Admin"))
        {

            @Html.Partial("_AdminMenuPartial")
        }

    </div>
