@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<html>
<head>
    <title class="text-center text-black">Error</title>
</head>
<body>
    <h2 class="text-center text-black">Error</h2>
    <p class="text-center text-danger">@ViewBag.ErrorMessage</p>
</body>
</html>
