
<h2 class="text-center text-black">Page Not Found</h2>
<p class="text-center text-danger">
    "Oops! Looks like we took a wrong turn in cyberspace. Our team is on it, crafting a personalized 'Page Not Found' experience just for you. Hang tight!"
</p>
