@model CartViewModel;


@{
    ViewBag.Title = "Your Cart!";
    
}

<h1 class="text-center">@ViewBag.Title</h1>


    foreach (var g in Model.Garments)
    {
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    }

