@{
    ViewBag.Title = "Admin workspace";
}

<h1 class="text-center text-primary">@ViewBag.Title</h1>


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Garments Modifies
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Garment" asp-action="Add">Add</a></li>
        <li><hr class="dropdown-divider"></li>

        <li><a class="dropdown-item" asp-area="" asp-controller="Garment" asp-action="All">Edit</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-area="" asp-controller="Garment" asp-action="All">Delete</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-area="" asp-controller="Garment" asp-action="All">DeleteFromDb</a></li>
    </ul>
 
</div>
<br />
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Shoe Modifies
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Shoe" asp-action="Add">Add</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-area="" asp-controller="Shoe" asp-action="All">Edit</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-area="" asp-controller="Shoe" asp-action="All">Delete</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-area="" asp-controller="Shoe" asp-action="All">DeleteFromDb</a></li>
    </ul>
</div>

<br />
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Accessory Modifies
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Accessory" asp-action="Add">Add</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-area="" asp-controller="Accessory" asp-action="All">Edit</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-area="" asp-controller="Accessory" asp-action="All">Delete</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-area="" asp-controller="Accessory" asp-action="All">DeleteFromDb</a></li>
    </ul>
</div>


